<!DOCTYPE html>
<html>
<head>
<title>Minha Página HTML</title>
<link rel="stylesheet"type="text/css"href="estilo.css">
</head>
<body>
<h1>Minha página HTML</h1>
<p>Minha página HTML simples com um arquivo CSS externo.</p>
<div class="destaque">
<p> Este é um elemento com uma classe CSS aplicada.</p>
</div>
</body>
</html>
