/* Estilos para a página HTML */
body {
font-family: Arial, sans-serif;
background-color: #f0f0;
margin: 0;
padding: 30px;
}
h1 {
color: #658;
}
p {
color: #777;
}
/* Estilos para a classe .destaque */.destaque {
background-color: #ffcc00;
padding: 10px;

}
